@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #DDDDDD;
    color: #222831;
}

.sidebar{
    position: fixed;
    left: -300px;
    width: 250px;
    height:100%;
    background:#30475E;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 22px;
    color: #30475E;
    text-align: center;
    line-height: 50px;
    background: #DDDDDD;
    user-select: none;
    position: fixed;
    border: 1px solid #F05454;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #DDDDDD;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid #F05454;
    border-bottom: 1px solid #F05454;
}

ul li:hover a{
  padding-left: 50px;
}

@keyframes animation{
    0%, 100%{
        transform: translateY(0vh);
    }
    
    10%, 90%{
        transform: translateY(0.2vh);
    }
    20%, 80%{
        transform: translateY(0.4vh);
    }
    30%, 70%{
        transform: translateY(0.6vh);
    }
    40%, 60%{
        transform: translateY(0.8vh);
    }
    50%{
        transform: translateY(1vh);
    }
}

label #button, label #cancel{
    position: absolute;
    cursor: pointer;
    background-color: #30475E;
    border: 2px solid #F05454;
    border-radius: 3px;
    margin-top: 20px;
}

label #button{
    left:40px;
    top:25px;
    font-size:35px;
    color:#222831;
    padding: 6px 12px;
    transition: all .5s ease;
}

label #cancel{
    z-index: 1111;
    font-size:30px;
    left:-195px;
    top:17px;
    color:#222831;
    padding: 4px 9px;
    position: fixed;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left:0;
}

#check:checked ~ label #button{
    left:250px;
    opacity:0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left:195px;
}

#check{
    visibility: hidden;
}

#timezone{
    width: 30%;
    height: 25px;
    font-family: 'Poppins', sans-serif;
}

#seconds{
    color: #F05454;
}

h2, h3, sup{
    display: inline-block;
}

#date{
    color: #0078d7;
}

#stopWatchMin, #stopWatchSeconds, #stopWatchHours{
    font-size: 50px;
    display: inline-block;
    width: 75px;
    height: 15px;
    user-select: none;
}

#stopWatchMiliSeconds{
    font-size: 40px;
    display: inline-block;
    width: 40px;
    user-select: none;
    height: 15px;
    color: #F05454;
}

#timerMin, #timerSeconds, #timerHours{
    font-size: 50px;
    display: inline-block;
    width: 75px;
    height: 15px;
    user-select: none;
}

#timerHours{
    width: auto;
}

.button{
    color: #DDDDDD;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    font-size: 100%;
    border-radius: 25px;
}

.button:first-of-type{
    background-color: #367E18;
}
.button:last-of-type{
    background-color: #30475E;
}

h5{
    height: 0;
    padding: 0;
    width: 30px;
    display: inline-block;
    margin-right: 50px;
    margin-left: 0;
}

.h5{
    height: 0;
    padding: 0;
    width: 60px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 0;
}

.timer{
    width: 100px;
    height: 25px;
    font-family: 'Poppins', sans-serif;
    margin-right: 5px;
}

#timerSeconds{
    color: #F05454;
}